.home-header{
    text-align: center;
}
.home-header h2{
    color: #f93d66;
    font-size: 3rem;
    margin-bottom: .5rem
    ;
}
.home-header h1{
    font-size: 2rem;
    color: #6d47d9;
    margin-bottom: 1rem;
}
.home-header h1 span{
    color: #053f8bdd;
}
.home-header p{
    color: #688199;
    font-weight: 500;
}